* {
    /* margin: 0;
    padding: 0;
    height: auto;  */
    background-blend-mode: darken;
    background-size: cover;
    background: url(lauk.webp) rgba(0,0,0,0.7);
    background-repeat: no-repeat;
}

/* .bg {
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
} */